# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 076d5bd6e4844158270a159ac9fd7ea67f15b324caa5ed1af8f46b15576445a4a6b8aae046375667bf542e75286f83a7b5b8c81e88a1a3956a7caa12fdb159f5

test:
  secret_key_base: 7cb1e39b0cff569f22469796b8ae650ebc5ea01a6b3e753121006035b87c0a7f181a7ba9c00871c4169264490d852bab16047b51a13fa2dfd3a53549ed03f4f2

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
