/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import "bootstrap-sprockets";
@import "bootstrap";

@mixin background-tile {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 1.5em 1.25em;
}


/* General styles */

body {
  background: image-url('bckg2.jpg') no-repeat center center fixed;
  background-size: 100% 100%;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  overflow-x: hidden;
}
body,
html { height: 100%;}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background-color: transparent;}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

p.alert, p.notice {
  margin: 0;
  color: whitesmoke;
}


/* Navbar/navigation styles */

.navbar {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
}
.navbar-default {
  background-color: #fff;
  padding-bottom: 5px;
  padding-top: 5px;

  .navbar-nav > li > a {
    color: #222;
    &:hover {
      color: darken(#f4faf1, 5%);
      transition: 0.5s;
    }
  }

  .navbar-header {

    .navbar-brand {
      color: #222;
      letter-spacing: 1.4px;
      font-family: 'Architects Daughter', cursive;
      font-size: 175%
    }

  }
}

.flexbox {
  display:flex;
  justify-content:center;
  align-items: center;
  flex-flow: column;
}

.searchform {
  margin-top: -80px;
  //width: 80%;
}

.form-control{
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
}

/* Button/link styles */

.btn-custom {
  color: darken(#222222, 5%);
  background-color: #fff;
  border: 1px solid darken(#222222, 5%);
  padding: 8px 20px;
  border-radius: 5px;
  font-family: 'Ubuntu', sans-serif;
  &:hover {
    text-decoration: none;
    background-color: darken(#222222, 5%);
    color: #fff;
    transition: 0.5s;
  }
}

.btn-custom2 {
  color: #333;
  background-color: #fff;
  border: 1px solid #222;
  padding: 8px 20px;
  border-radius: 5px;
  font-family: 'Ubuntu', sans-serif;
  &:hover {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    transition: 0.5s;
  }
}

.links {

  .btn-custom {
    padding: 5px 15px;
    font-weight: 300;
  }

}

.book-links {

  .btn-custom {
    padding: 3px 10px;
    font-weight: 300;
    margin-top: 40px;
  }

}

/* Book styles */

.book {
  height: 350px;
  width: 250px;
  margin-bottom: 40px;
  @include background-tile;
}

.book-show {
  height: 475px;
  width: 325px;
  @include background-tile;
}

.book-info {
  @include background-tile;

  .book-title {
    margin-top: 0;
    font-size: 2em;
  }

  .avg-rating {
    font-size: 1.5em;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .number-of-reviews {
    font-size: 0.85em;
    font-style: italic;
  }

  .book-author {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    span {
      font-size: 0.80em;
    }
  }

  .book-desc {
    font-size: 1.05em;
    line-height: 1.5;
    margin-bottom: 15px;
    margin-top: 15px;
  }

}


/* current-category styles */

.current-category {
  margin-bottom: 90px;
  color: whitesmoke;
}
.cat-stat {
  color: whitesmoke;
}


/* Reviews styles */

.reviews {

  @include background-tile;
  margin-top: 40px;

  h1 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 2em;
  }

  .review {
    border-bottom: 1px solid gainsboro;
    margin-bottom: 15px;
    padding-bottom: 10px;

    .review-comment {
      font-size: 1.05em;
      line-height: 1.5;
    }

  }

  .new-review {
    padding-top: 8px;
  }

}

/* New Book Form styles */

.new-book-form {
  @include background-tile;

  h1 {
    margin-top: 0;
  }

  #category_id {
    margin-bottom: 10px;
  }

  #book_book_img {
    margin-bottom: 10px;
  }

}


/* Edit Book Form styles */

.edit-book-form {

  @include background-tile;

  h1 {
    margin-top: 0;
  }

  #book_category_id {
    margin-bottom: 10px;
  }

  #book_book_img {
    margin-bottom: 10px;
  }

}

/* New/Edit review form styles */

.new-review-form, .edit-review-form {
  @include background-tile;

  h1 {
    margin-top: 0;
  }

  #rating-form {
    margin-bottom: 15px;

    label {
      display: block;
    }

  }

}


/* Signup/Login form styles */

.signup-form {
  @include background-tile;

  h2 {
    margin-top: 0;
  }

}

.login-form {
  @include background-tile;

  h2 {
    margin-top: 0;
  }

}


/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 220px;
}

#sidebar-wrapper {
  z-index: 1000;
  left: 220px;
  width: 0;
  height: 100%;
  margin-left: -220px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #1a1a1a;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}

#page-content-wrapper {
  width: 100%;
  padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 100%;
}

.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: #1c1c1c;
  -webkit-transition: width .2s ease-in;
  -moz-transition:  width .2s ease-in;
  -ms-transition:  width .2s ease-in;
  transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
  color: #fff;
  background-color: #1a1a1a;
  letter-spacing: 1.4px;
  font-family: 'Architects Daughter', cursive;
  font-size: 115%
}
.sidebar-nav li:nth-child(2):before {
  background-color: #ec1b5a;
}
.sidebar-nav li:nth-child(3):before {
  background-color: #79aefe;
}
.sidebar-nav li:nth-child(4):before {
  background-color: #314190;
}
.sidebar-nav li:nth-child(5):before {
  background-color: #279636;
}
.sidebar-nav li:nth-child(6):before {
  background-color: #7d5d81;
}
.sidebar-nav li:nth-child(7):before {
  background-color: #ead24c;
}
.sidebar-nav li:nth-child(8):before {
  background-color: #2d2366;
}
.sidebar-nav li:nth-child(9):before {
  background-color: #35acdf;
}
.sidebar-nav li:nth-child(10):before {
  background-color: #df4c9d;
}
.sidebar-nav li:nth-child(11):before {
  background-color: #18df0e;
}
.sidebar-nav li:nth-child(12):before {
  background-color: #ff7000;
}
.sidebar-nav li:nth-child(13):before {
  background-color: #00ffef;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width .2s ease-in;
  -moz-transition:  width .2s ease-in;
  -ms-transition:  width .2s ease-in;
  transition: width .2s ease-in;

}

.sidebar-nav li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 20px;
  line-height: 44px;
}
.sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: #222;
  box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 20px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #f4faf1;
}
.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250,250,250,.8);
  z-index: 1;
}